<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block link %}
    <link rel="stylesheet" href="{% static "css/style.css" %}" />
    {% endblock link %}
    <title>{{ title }}</title>
</head>
<body text="#336699" bgcolor="#000000">
{% block mainmenu %}
    <div align="left">
    <h2>
        <a href="{% url 'home' %}">Главная страница</a><li><a href="{% url 'registration' %}">Регистрация</a></li>
    <li><a href="{% url 'login' %}">Вход/Выход</a></li>
    <li><a href="{% url 'logout' %}">Сотрудники</a></li>
    <li><a href="{% url 'users' %}">Клиенты</a></li>
    <li><a href="{% url 'suppliers_get' %}">Поставщики</a></li>
    <li><a href="{% url 'supply_get' %}">Поставки</a></li>
    <li><a href="{% url 'bid' %}">Заявки</a></li>
    <li><a href="{% url 'schedule' %}">График</a></li>
    <li><a href="{% url 'wages' %}">ЗП</a></li>
    <li><a href="{% url 'production' %}">Продукция</a></li>
    </h2>
    </div>
{% endblock mainmenu %}
{% block center %}
<div align="center">
{% block get %}

{% endblock get %}
{% block content %}

{% endblock content %}
</div>
{% endblock center %}
</body>
</html>