{% extends "base.html" %}
{% block content %}
<h1><a href="{% url 'logout' %}">Выход</a></h1>
<h1>Введите логин и пароль</h1>
<h2>{{ message }}</h2>
<h2>{{ error_message }}</h2>
<h2>{{ error_message_empty }}</h2>
<h2><a href="{% url 'registration' %}">Регистрация</a></h2>
<form action="" method="post">
        {% csrf_token %}
        <input placeholder= "Логин" type="text" name="username" id="username" value="">
        <p>
        <input placeholder= "Пароль" type="password" name="password" id="password" value="">
        <p>
        <input type="submit" name="send" id="send" alt="Вход">
</form>
{% endblock content %}