{% extends "base.html" %}
{% block content %}
<h1>Регистрация</h1>
<h2><a href="{% url 'login' %}">Вход</a></h2>
<!--<form action="" method="post">
        <p>Введите ваше имя</p>
        <input type="text" name="username" id="username" value="">
        <p>Введите пороль</p>
        <input type="text" name="password" id="password" value="">
        <p>Введите адрес электронной почты</p>
        <input type="email" name="email" id="email" value="">
        <p>
        <input type="submit" name="send" id="send">
        </form>-->
 <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Регистрация</button>
  </form>
{% endblock content %}