{% extends "base.html" %}
{% block content %}
<HR color="blue">
<h2>Тут вы сможете выбирать колличество фактически отработанных часов</h2>
<HR color="blue">
<h2>{{ message }}</h2>
<h2>{{ error_message }}</h2>
<br>
<table border="2" width="20%">
     <tr>
        <th>{{ worker }}</th>
    <td width="1">
        <form action="" method="post">
        {% csrf_token %}
        <input type="date" name="date" id="date">
        <input type="time" name="time_from" id="time_from">
        <input type="time" name="time_to" id="time_to">
        <input type="submit" name="send" id="send">
        </form></td>
</table>
{% endblock content %}