{% extends "suppliers_app_.html" %}
{% block content %}
<h1>Изменить поставщика</h1>
    <h2>{{ message_empty }}</h2>
    <h2>{{ message_err }}</h2>
<form action="" method="post" name="put">
        {% csrf_token %}
        <p>Введите ID поставщика, данные которого хотите изменить</p>
        <input type="text"  name="put_name" id="put_name">
        <p>Введите новое имя поставщика</p>
        <input type="text" name="name" id="name" >
        <p>Введите колличество дней отсрочки платежа</p>
        <input type="number" name="pay_def_put" id="pay_def_put">
        <p></p>
        <input type="submit" name="put" id="put">
</form>
{% endblock content %}