{% extends 'base.html' %}
{% block get %}
    <h1>Список поставщиков</h1>
    <div align="left">
<ul>
    {% for d in dat %}
        <li>
        <h2>Поставщик: {{ d.name }}</h2>
        <p>Отсрочка платежа: {{ d.payment_deferment }}</p>
        <hr>
        </li>
    {% endfor %}
</ul>
    </div>
{% endblock get %}
{% block content %}
    <h2><a href="{% url "suppliers_add" %}">Добавить поставщика </a></h2>
    <h2><a href="{% url "suppliers_del" %}">Удалить поставщика </a></h2>
    <h2><a href="{% url "suppliers_put" %}">Изменить поставщика </a></h2>
{% endblock content %}
