{% extends "base_manager.html" %}
{% block get %}
<h1>Список поставок</h1>
    <div align="left">
<ul>
    {% for d in dat %}
        <li>
        <h2>id поставки: {{ d.id }}</h2>
        <h2>Поставщик: {{ d.supplier.name }}</h2>
        <h2>Отсрочка платежа: {{ d.supplier.payment_deferment }}</h2>
        <p>Дата поставки: {{ d.date }}</p>
        <p>Сумма поставки: {{ d.amount }}</p>
        <hr>
        </li>
    {% endfor %}
</ul>
    </div>
{% endblock get %}
{% block content %}
    <h2><a href="{% url "supply_add" %}">Добавить поставку </a></h2>
    <h2><a href="{% url "supply_del" %}">Удалить поставку </a></h2>
    <h2><a href="{% url "supply_put" %}">Изменить поставку </a></h2>
{% endblock content %}
