{% extends 'base.html' %}
{% block content %}
<h1>Список поставщиков</h1>
<ul>
    {% for d in dat %}
        <li>
        <h2>Поставщик: {{ d.name }}</h2>
        <p>Отсрочка платежа: {{ d.payment_deferment }}</p>
        <hr>
        </li>
    {% endfor %}
</ul>
<h1><a href="{% url "suppliers_add" %}">Добавить поставщика </a></h1>
<br>
<h1><a href="{% url "suppliers_del" %}">Удалить поставщика </a></h1>
<br>
<h1><a href="{% url "suppliers_put" %}">Изменить поставщика </a></h1>
{% endblock content %}
