<!DOCTYPE html>
{% load static %}
<html lang="ru-Ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static "css/styles.css" %}" />
    <title>Поставки</title>

</head>
<body>
<img src="{% static "/image/img.jpg" %}" alt="AMENIEL COFFEE">
<a href="{% url 'home' %}">Главная страница</a>
<h1>Список поставок</h1>
<form action="" method="get" name="get">
        {% csrf_token %}
    <div>
        <h2>Поставщик: {{ supply_sup }}</h2>
        <h2>Дата: {{ supply_dat }}</h2>
        <h2>Сумма: {{ supply_amo }}</h2>
    </div>
</form>

<form action="" method="post" name="add">
    {% csrf_token %}
    <h1>Добавить поставку</h1>
    <p>Введите имя поставщика</p>
        <input type="text" name="sup" id="sup">
    <p>Укажите дату поставки</p>
        <input type="date" name="dat" id="dat">
    <p>Укажите сумму поставки</p>
        <input type="text" name="amo" id="amo">
    <p></p>
        <input type="submit" name="add" id="add">
</form>

<form action="" method="post" name="del">
        {% csrf_token %}
        <h1>Удалить поставку</h1>
        <input type="submit" name="del" id="del">
</form>

<h2>{{ error_message_empty }}</h2>
<h2>{{ message }}</h2>

</body>
</html>