{% extends "base_manager.html" %}
{% block get %}
    <h1>Список работников</h1>
    <div align="left">
<ul>
    {% for w in worker %}
        <li>
        <h2>Работник: {{ w.user.username }}</h2>
        <h2>ID работника: {{ w.id }}</h2>
        <hr>
        </li>
    {% endfor %}
</ul>
    </div>
{% endblock get %}
{% block content %}
    <h1> {{ message2 }} </h1>
<form action="" method="post" name="add">
    {% csrf_token %}
    <h1>Расчитать зарплату</h1>
    <h2>{{ message_empty }}</h2>
    <h2>{{ message_err }}</h2>
    <h2>{{ salary }}</h2>
    <p>Введите ID работника</p>
        <input type="text" name="worker" id="worker">
    <p>С кокого числа?</p>
        <input type="date" name="from" id="from">
    <p>По какое?</p>
        <input type="date" name="to" id="to">
    <p></p>
        <input type="submit" name="add" id="add">
</form>
<h2>{{ pay_text }} {{ pay }} {{ r }}</h2>
{% endblock content %}