{% extends "base.html" %}
{% block get %}
<h1>Список сотрудников</h1>
    <div align="left">
<ul>
    {% for d in dat %}
        <li>
        <h2>ID сотрудника: {{ d.workersmodel.id }}</h2>
        <h2>Сотрудник: {{ d.username }}</h2>
        <p>Ставка в час: {{ d.workersmodel.rate_per_hour }}</p>
        <hr>
        </li>
    {% endfor %}
</ul>
    </div>
{% endblock get %}
{% block content %}
    <h2><a href="{% url "workers_add" %}">Добавить сотрудника </a></h2>
    <h2><a href="{% url "workers_del" %}">Удалить сотрудника </a></h2>
    <h2><a href="{% url "workers_put" %}">Изменить ставку сотрудника </a></h2>
{% endblock content %}